@{
    ViewBag.Title = "Home Page";
}

	<!-- Content -->
<div class="row content">

    <!-- Main Content -->
    <section class="main-content col-lg-12 col-md-12 col-sm-12">

        <!-- Slider -->
        <div class="iosSlider">
            <div class="slider">

                <div class="item" id="item1">

                    <div class="image">
                        <div class="bg"></div>
                    </div>

                    <div class="text">

                        <div class="bg"></div>

                        <div class="title">
                            <h2><strong>Alfombra musical</strong></h2>
                        </div>

                        <div class="desc">
                            <h3>Desarrolla el interés por la música <br /> y la percepción sensorial</h3>

                            <span>Oferta: <span class="price">$9.000</span></span>
                            <p>Codigo #0003</p>
                        </div>

                        @*<div class="button">
                            <a class="button big red" href="#">Buy Now</a>
                        </div>*@

                    </div>

                </div>

                <div class="item" id="item2">

                    <div class="image">
                        <div class="bg"></div>
                    </div>

                    <div class="text">

                        <div class="bg"></div>

                        <div class="title">
                            <h2><strong>Pulsera<br> Mamis</strong></h2>
                        </div>

                        <div class="desc">
                            <h3>Visita el especial futura mamá</h3>
                            <span>Oferta: <span class="price">$4.000</span></span>
                            <p>Codigo #0007</p>
                        </div>

                        <div class="button">
                            <a class="button big red" href="#">Buy Now</a>
                        </div>

                    </div>

                </div>

                <div class="item" id="item3">

                    <div class="image">
                        <div class="bg"></div>
                    </div>

                    <div class="text">

                        <div class="bg"></div>

                        <div class="title">
                            <h2>Lentes y Control <strong>Realidad Virtual</strong></h2>
                        </div>

                        <div class="desc">
                            <h3>Disfruta imágenes, videos y juegos en 360°</h3>
                            <span>Oferta: <span class="price">$15.000</span></span>
                            <p>Codigo #0010</p>
                        </div>

                        @*<div class="button">
                            <a class="button big red" href="#">Buy Now</a>
                        </div>*@

                    </div>

                </div>

            </div>

            <div class='prevButton'></div>

            <div class='nextButton'></div>

        </div>
        <!-- /Slider -->
        <!-- Banner -->
        <section class="banner">

            <div class="left-side-banner banner-item icon-on-right gray">
                <h4>+56 9 9015 4716</h4>
                <p>Lunes a Sabado: 10am - 9pm</p>
                <i class="icons icon-phone-outline"></i>
            </div>

            <a href="#">
                <div class="middle-banner banner-item icon-on-left light-blue">
                    <h4>Despacho</h4>
                    <p>gratis sobre $50.000</p>
                    <span class="button">Leer más</span>
                    <i class="icons icon-truck-1"></i>
                </div>
            </a>

            <a href="#">
                <div class="right-side-banner banner-item orange">
                    <h4>Vende</h4>
                    <p>Te ayudamos con tus productos</p>
                    <span class="button">Leer más</span>
                </div>
            </a>

        </section>
        <!-- /Banner -->
        <!-- Featured Products -->
        <div class="products-row row">

            <!-- Carousel Heading -->
            <div class="col-lg-12 col-md-12 col-sm-12">

                <div class="carousel-heading">
                    <h4>Productos en Oferta</h4>
                    <div class="carousel-arrows">
                        <i class="icons icon-left-dir"></i>
                        <i class="icons icon-right-dir"></i>
                    </div>
                </div>

            </div>
            <!-- /Carousel Heading -->
            <!-- Carousel -->
            <div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">

                <div class="owl-carousel" data-max-items="4">

                    <!-- Slide -->
                    <div>
                        <!-- Carousel Item -->
                        <div class="product">

                            <div class="product-image">
                                <span class="product-tag">Sale</span>
                                <img src="@Url.Content("~/Content/")img/products/sample4.jpg" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
                                    <i class="icons icon-eye-1"></i> Quick View
                                </a>
                            </div>

                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>

                            @*<div class="product-actions">
                                <span class="add-to-cart">
                                    <span class="action-wrapper">
                                        <i class="icons icon-basket-2"></i>
                                        <span class="action-name">Add to cart</span>
                                    </span>
                                </span>
                                <span class="add-to-favorites">
                                    <span class="action-wrapper">
                                        <i class="icons icon-heart-empty"></i>
                                        <span class="action-name">Add to wishlist</span>
                                    </span>
                                </span>
                                <span class="add-to-compare">
                                    <span class="action-wrapper">
                                        <i class="icons icon-docs"></i>
                                        <span class="action-name">Add to Compare</span>
                                    </span>
                                </span>
                            </div>*@

                        </div>
                        <!-- /Carousel Item -->
                    </div>
                    <!-- /Slide -->
                    <!-- Slide -->
                    <div>
                        <!-- Carousel Item -->
                        <div class="product">

                            <div class="product-image">
                                <img src="@Url.Content("~/Content/")img/products/sample5.jpg" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
                                    <i class="icons icon-eye-1"></i> Quick View
                                </a>
                            </div>

                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>

                            @*<div class="product-actions">
                                <span class="add-to-cart">
                                    <span class="action-wrapper">
                                        <i class="icons icon-basket-2"></i>
                                        <span class="action-name">Add to cart</span>
                                    </span>
                                </span>
                                <span class="add-to-favorites">
                                    <span class="action-wrapper">
                                        <i class="icons icon-heart-empty"></i>
                                        <span class="action-name">Add to wishlist</span>
                                    </span>
                                </span>
                                <span class="add-to-compare">
                                    <span class="action-wrapper">
                                        <i class="icons icon-docs"></i>
                                        <span class="action-name">Add to Compare</span>
                                    </span>
                                </span>
                            </div>*@

                        </div>
                        <!-- /Carousel Item -->
                    </div>
                    <!-- /Slide -->
                    <!-- Slide -->
                    <div>
                        <!-- Carousel Item -->
                        <div class="product">

                            <div class="product-image">
                                <img src="@Url.Content("~/Content/")img/products/sample6.jpg" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
                                    <i class="icons icon-eye-1"></i> Quick View
                                </a>
                            </div>

                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>

                            @*<div class="product-actions">
                                <span class="add-to-cart">
                                    <span class="action-wrapper">
                                        <i class="icons icon-basket-2"></i>
                                        <span class="action-name">Add to cart</span>
                                    </span>
                                </span>
                                <span class="add-to-favorites">
                                    <span class="action-wrapper">
                                        <i class="icons icon-heart-empty"></i>
                                        <span class="action-name">Add to wishlist</span>
                                    </span>
                                </span>
                                <span class="add-to-compare">
                                    <span class="action-wrapper">
                                        <i class="icons icon-docs"></i>
                                        <span class="action-name">Add to Compare</span>
                                    </span>
                                </span>
                            </div>*@

                        </div>
                        <!-- /Carousel Item -->
                    </div>
                    <!-- /Slide -->
                    <!-- Slide -->
                    <div>
                        <!-- Carousel Item -->
                        <div class="product">

                            <div class="product-image">
                                <img src="@Url.Content("~/Content/")img/products/sample4.jpg" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
                                    <i class="icons icon-eye-1"></i> Quick View
                                </a>
                            </div>

                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>

                            @*<div class="product-actions">
                                <span class="add-to-cart">
                                    <span class="action-wrapper">
                                        <i class="icons icon-basket-2"></i>
                                        <span class="action-name">Add to cart</span>
                                    </span>
                                </span>
                                <span class="add-to-favorites">
                                    <span class="action-wrapper">
                                        <i class="icons icon-heart-empty"></i>
                                        <span class="action-name">Add to wishlist</span>
                                    </span>
                                </span>
                                <span class="add-to-compare">
                                    <span class="action-wrapper">
                                        <i class="icons icon-docs"></i>
                                        <span class="action-name">Add to Compare</span>
                                    </span>
                                </span>
                            </div>*@

                        </div>
                        <!-- /Carousel Item -->
                    </div>
                    <!-- /Slide -->
                    <!-- Slide -->
                    <div>
                        <!-- Carousel Item -->
                        <div class="product">

                            <div class="product-image">
                                <img src="@Url.Content("~/Content/")img/products/sample5.jpg" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
                                    <i class="icons icon-eye-1"></i> Quick View
                                </a>
                            </div>

                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>

                            @*<div class="product-actions">
                                <span class="add-to-cart">
                                    <span class="action-wrapper">
                                        <i class="icons icon-basket-2"></i>
                                        <span class="action-name">Add to cart</span>
                                    </span>
                                </span>
                                <span class="add-to-favorites">
                                    <span class="action-wrapper">
                                        <i class="icons icon-heart-empty"></i>
                                        <span class="action-name">Add to wishlist</span>
                                    </span>
                                </span>
                                <span class="add-to-compare">
                                    <span class="action-wrapper">
                                        <i class="icons icon-docs"></i>
                                        <span class="action-name">Add to Compare</span>
                                    </span>
                                </span>
                            </div>*@

                        </div>
                        <!-- /Carousel Item -->
                    </div>
                    <!-- /Slide -->
                    <!-- Slide -->
                    <div>
                        <!-- Carousel Item -->
                        <div class="product">

                            <div class="product-image">
                                <img src="@Url.Content("~/Content/")img/products/sample6.jpg" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
                                    <i class="icons icon-eye-1"></i> Quick View
                                </a>
                            </div>

                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>

                            @*<div class="product-actions">
                                <span class="add-to-cart">
                                    <span class="action-wrapper">
                                        <i class="icons icon-basket-2"></i>
                                        <span class="action-name">Add to cart</span>
                                    </span>
                                </span>
                                <span class="add-to-favorites">
                                    <span class="action-wrapper">
                                        <i class="icons icon-heart-empty"></i>
                                        <span class="action-name">Add to wishlist</span>
                                    </span>
                                </span>
                                <span class="add-to-compare">
                                    <span class="action-wrapper">
                                        <i class="icons icon-docs"></i>
                                        <span class="action-name">Add to Compare</span>
                                    </span>
                                </span>
                            </div>*@

                        </div>
                        <!-- /Carousel Item -->
                    </div>
                    <!-- /Slide -->


                </div>
            </div>
            <!-- /Carousel -->

        </div>
        <!-- /Featured Products -->
        <!-- New Collection -->
        <div class="products-row row">

            <!-- Carousel Heading -->
            <div class="col-lg-12 col-md-12 col-sm-12">

                <div class="carousel-heading">
                    <h4>Novedades</h4>
                    <div class="carousel-arrows">
                        <i class="icons icon-left-dir"></i>
                        <i class="icons icon-right-dir"></i>
                    </div>
                </div>

            </div>
            <!-- /Carousel Heading -->
            <!-- Carousel -->
            <div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">

                <div class="owl-carousel" data-max-items="4">

                    <!-- Slide -->
                    <div>
                        <!-- Carousel Item -->
                        <div class="product">

                            <div class="product-image">
                                <span class="product-tag">Sale</span>
                                <img src="@Url.Content("~/Content/")img/products/sample4.jpg" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
                                    <i class="icons icon-eye-1"></i> Quick View
                                </a>
                            </div>

                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>

                            @*<div class="product-actions">
                                <span class="add-to-cart">
                                    <span class="action-wrapper">
                                        <i class="icons icon-basket-2"></i>
                                        <span class="action-name">Add to cart</span>
                                    </span>
                                </span>
                                <span class="add-to-favorites">
                                    <span class="action-wrapper">
                                        <i class="icons icon-heart-empty"></i>
                                        <span class="action-name">Add to wishlist</span>
                                    </span>
                                </span>
                                <span class="add-to-compare">
                                    <span class="action-wrapper">
                                        <i class="icons icon-docs"></i>
                                        <span class="action-name">Add to Compare</span>
                                    </span>
                                </span>
                            </div>*@

                        </div>
                        <!-- /Carousel Item -->
                    </div>
                    <!-- /Slide -->
                    <!-- Slide -->
                    <div>
                        <!-- Carousel Item -->
                        <div class="product">

                            <div class="product-image">
                                <img src="@Url.Content("~/Content/")img/products/sample5.jpg" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
                                    <i class="icons icon-eye-1"></i> Quick View
                                </a>
                            </div>

                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>

                            @*<div class="product-actions">
                                <span class="add-to-cart">
                                    <span class="action-wrapper">
                                        <i class="icons icon-basket-2"></i>
                                        <span class="action-name">Add to cart</span>
                                    </span>
                                </span>
                                <span class="add-to-favorites">
                                    <span class="action-wrapper">
                                        <i class="icons icon-heart-empty"></i>
                                        <span class="action-name">Add to wishlist</span>
                                    </span>
                                </span>
                                <span class="add-to-compare">
                                    <span class="action-wrapper">
                                        <i class="icons icon-docs"></i>
                                        <span class="action-name">Add to Compare</span>
                                    </span>
                                </span>
                            </div>*@

                        </div>
                        <!-- /Carousel Item -->
                    </div>
                    <!-- /Slide -->
                    <!-- Slide -->
                    <div>
                        <!-- Carousel Item -->
                        <div class="product">

                            <div class="product-image">
                                <img src="@Url.Content("~/Content/")img/products/sample6.jpg" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
                                    <i class="icons icon-eye-1"></i> Quick View
                                </a>
                            </div>

                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>

                            @*<div class="product-actions">
                                <span class="add-to-cart">
                                    <span class="action-wrapper">
                                        <i class="icons icon-basket-2"></i>
                                        <span class="action-name">Add to cart</span>
                                    </span>
                                </span>
                                <span class="add-to-favorites">
                                    <span class="action-wrapper">
                                        <i class="icons icon-heart-empty"></i>
                                        <span class="action-name">Add to wishlist</span>
                                    </span>
                                </span>
                                <span class="add-to-compare">
                                    <span class="action-wrapper">
                                        <i class="icons icon-docs"></i>
                                        <span class="action-name">Add to Compare</span>
                                    </span>
                                </span>
                            </div>*@

                        </div>
                        <!-- /Carousel Item -->
                    </div>
                    <!-- /Slide -->
                    <!-- Slide -->
                    <div>
                        <!-- Carousel Item -->
                        <div class="product">

                            <div class="product-image">
                                <img src="@Url.Content("~/Content/")img/products/sample4.jpg" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
                                    <i class="icons icon-eye-1"></i> Quick View
                                </a>
                            </div>

                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>

                            @*<div class="product-actions">
                                <span class="add-to-cart">
                                    <span class="action-wrapper">
                                        <i class="icons icon-basket-2"></i>
                                        <span class="action-name">Add to cart</span>
                                    </span>
                                </span>
                                <span class="add-to-favorites">
                                    <span class="action-wrapper">
                                        <i class="icons icon-heart-empty"></i>
                                        <span class="action-name">Add to wishlist</span>
                                    </span>
                                </span>
                                <span class="add-to-compare">
                                    <span class="action-wrapper">
                                        <i class="icons icon-docs"></i>
                                        <span class="action-name">Add to Compare</span>
                                    </span>
                                </span>
                            </div>*@

                        </div>
                        <!-- /Carousel Item -->
                    </div>
                    <!-- /Slide -->
                    <!-- Slide -->
                    <div>
                        <!-- Carousel Item -->
                        <div class="product">

                            <div class="product-image">
                                <img src="@Url.Content("~/Content/")img/products/sample5.jpg" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
                                    <i class="icons icon-eye-1"></i> Quick View
                                </a>
                            </div>

                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>

                            @*<div class="product-actions">
                                <span class="add-to-cart">
                                    <span class="action-wrapper">
                                        <i class="icons icon-basket-2"></i>
                                        <span class="action-name">Add to cart</span>
                                    </span>
                                </span>
                                <span class="add-to-favorites">
                                    <span class="action-wrapper">
                                        <i class="icons icon-heart-empty"></i>
                                        <span class="action-name">Add to wishlist</span>
                                    </span>
                                </span>
                                <span class="add-to-compare">
                                    <span class="action-wrapper">
                                        <i class="icons icon-docs"></i>
                                        <span class="action-name">Add to Compare</span>
                                    </span>
                                </span>
                            </div>*@

                        </div>
                        <!-- /Carousel Item -->
                    </div>
                    <!-- /Slide -->
                    <!-- Slide -->
                    <div>
                        <!-- Carousel Item -->
                        <div class="product">

                            <div class="product-image">
                                <img src="@Url.Content("~/Content/")img/products/sample6.jpg" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
                                    <i class="icons icon-eye-1"></i> Quick View
                                </a>
                            </div>

                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>

                            @*<div class="product-actions">
                                <span class="add-to-cart">
                                    <span class="action-wrapper">
                                        <i class="icons icon-basket-2"></i>
                                        <span class="action-name">Add to cart</span>
                                    </span>
                                </span>
                                <span class="add-to-favorites">
                                    <span class="action-wrapper">
                                        <i class="icons icon-heart-empty"></i>
                                        <span class="action-name">Add to wishlist</span>
                                    </span>
                                </span>
                                <span class="add-to-compare">
                                    <span class="action-wrapper">
                                        <i class="icons icon-docs"></i>
                                        <span class="action-name">Add to Compare</span>
                                    </span>
                                </span>
                            </div>*@

                        </div>
                        <!-- /Carousel Item -->
                    </div>
                    <!-- /Slide -->


                </div>
            </div>
            <!-- /Carousel -->

        </div>
        <!-- /New Collection -->
        <!-- News -->
        @*<div class="products-row row">

            <!-- Carousel Heading -->
            <div class="col-lg-12 col-md-12 col-sm-12">

                <div class="carousel-heading">
                    <h4>Latest news &amp; Reviews</h4>
                    <div class="carousel-arrows">
                        <i class="icons icon-left-dir"></i>
                        <i class="icons icon-right-dir"></i>
                    </div>
                </div>

            </div>
            <!-- /Carousel Heading -->
            <!-- Carousel -->
            <div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">

                <div class="owl-carousel" data-max-items="2">

                    <!-- Slide -->
                    <div>
                        <!-- Carousel Item -->
                        <article class="news">

                            <div class="news-background">

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 news-thumbnail">
                                        <a href="#"><img src="@Url.Content("~/Content/")img/news/sample1.jpg" alt="News1"></a>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 news-content">
                                        <h5><a href="blog_post.html">Lorem Ipsum</a></h5>
                                        <span class="date"><i class="icons icon-clock-1"></i> 23 April, 2012</span>
                                        <p>Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh.</p>
                                    </div>
                                </div>

                            </div>

                        </article>
                        <!-- /Carousel Item -->
                    </div>
                    <!-- /Slide -->
                    <!-- Slide -->
                    <div>

                        <!-- Carousel Item -->
                        <article class="news">

                            <div class="news-background">

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 news-thumbnail">
                                        <a href="#"><img src="@Url.Content("~/Content/")img/news/sample2.jpg" alt="News1"></a>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 news-content">
                                        <h5><a href="blog_post.html">Lorem Ipsum</a></h5>
                                        <span class="date"><i class="icons icon-clock-1"></i> 23 April, 2012</span>
                                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Suspendisse sollicitudin.</p>
                                    </div>
                                </div>

                            </div>

                        </article>
                        <!-- /Carousel Item -->

                    </div>
                    <!-- /Slide -->
                    <!-- Slide -->
                    <div>

                        <!-- Carousel Item -->
                        <article class="news">

                            <div class="news-background">

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 news-thumbnail">
                                        <a href="#"><img src="@Url.Content("~/Content/")img/news/sample2.jpg" alt="News1"></a>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 news-content">
                                        <h5><a href="blog_post.html">Lorem Ipsum</a></h5>
                                        <span class="date"><i class="icons icon-clock-1"></i> 23 April, 2012</span>
                                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Suspendisse sollicitudin.</p>
                                    </div>
                                </div>

                            </div>

                        </article>
                        <!-- /Carousel Item -->

                    </div>
                    <!-- /Slide -->
                    <!-- Slide -->
                    <div>

                        <!-- Carousel Item -->
                        <article class="news">

                            <div class="news-background">

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 news-thumbnail">
                                        <a href="#"><img src="@Url.Content("~/Content/")img/news/sample2.jpg" alt="News1"></a>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 news-content">
                                        <h5><a href="blog_post.html">Lorem Ipsum</a></h5>
                                        <span class="date"><i class="icons icon-clock-1"></i> 23 April, 2012</span>
                                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Suspendisse sollicitudin.</p>
                                    </div>
                                </div>

                            </div>

                        </article>
                        <!-- /Carousel Item -->

                    </div>
                    <!-- /Slide -->
                    <!-- Slide -->
                    <div>

                        <!-- Carousel Item -->
                        <article class="news">

                            <div class="news-background">

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 news-thumbnail">
                                        <a href="#"><img src="@Url.Content("~/Content/")img/news/sample2.jpg" alt="News1"></a>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 news-content">
                                        <h5><a href="blog_post.html">Lorem Ipsum</a></h5>
                                        <span class="date"><i class="icons icon-clock-1"></i> 23 April, 2012</span>
                                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Suspendisse sollicitudin.</p>
                                    </div>
                                </div>

                            </div>

                        </article>
                        <!-- /Carousel Item -->

                    </div>
                    <!-- /Slide -->


                </div>

            </div>
            <!-- /Carousel -->

        </div>*@
        <!-- /News -->
        <!-- Random Products -->
        <div class="products-row row">

            <!-- Carousel Heading -->
            <div class="col-lg-12 col-md-12 col-sm-12">

                <div class="carousel-heading">
                    <h4>Productos Usados</h4>
                    <div class="carousel-arrows">
                        <i class="icons icon-left-dir"></i>
                        <i class="icons icon-right-dir"></i>
                    </div>
                </div>

            </div>
            <!-- /Carousel Heading -->
            <!-- Carousel -->
            <div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">

                <div class="owl-carousel" data-max-items="4">

                    <!-- Slide -->
                    <div>
                        <!-- Carousel Item -->
                        <div class="product">

                            <div class="product-image">
                                <img src="@Url.Content("~/Content/")img/products/sample7.jpg" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
                                    <i class="icons icon-eye-1"></i> Quick View
                                </a>
                            </div>

                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>

                            @*<div class="product-actions">
                                <span class="add-to-cart">
                                    <span class="action-wrapper">
                                        <i class="icons icon-basket-2"></i>
                                        <span class="action-name">Add to cart</span>
                                    </span>
                                </span>
                                <span class="add-to-favorites">
                                    <span class="action-wrapper">
                                        <i class="icons icon-heart-empty"></i>
                                        <span class="action-name">Add to wishlist</span>
                                    </span>
                                </span>
                                <span class="add-to-compare">
                                    <span class="action-wrapper">
                                        <i class="icons icon-docs"></i>
                                        <span class="action-name">Add to Compare</span>
                                    </span>
                                </span>
                            </div>*@

                        </div>
                        <!-- /Carousel Item -->
                    </div>
                    <!-- /Slide -->
                    <!-- Slide -->
                    <div>
                        <!-- Carousel Item -->
                        <div class="product">

                            <div class="product-image">
                                <img src="@Url.Content("~/Content/")img/products/sample8.jpg" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
                                    <i class="icons icon-eye-1"></i> Quick View
                                </a>
                            </div>

                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>

                            @*<div class="product-actions">
                                <span class="add-to-cart">
                                    <span class="action-wrapper">
                                        <i class="icons icon-basket-2"></i>
                                        <span class="action-name">Add to cart</span>
                                    </span>
                                </span>
                                <span class="add-to-favorites">
                                    <span class="action-wrapper">
                                        <i class="icons icon-heart-empty"></i>
                                        <span class="action-name">Add to wishlist</span>
                                    </span>
                                </span>
                                <span class="add-to-compare">
                                    <span class="action-wrapper">
                                        <i class="icons icon-docs"></i>
                                        <span class="action-name">Add to Compare</span>
                                    </span>
                                </span>
                            </div>*@

                        </div>
                        <!-- /Carousel Item -->
                    </div>
                    <!-- /Slide -->
                    <!-- Slide -->
                    <div>
                        <!-- Carousel Item -->
                        <div class="product">

                            <div class="product-image">
                                <img src="@Url.Content("~/Content/")img/products/sample9.jpg" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
                                    <i class="icons icon-eye-1"></i> Quick View
                                </a>
                            </div>

                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>

                            @*<div class="product-actions">
                                <span class="add-to-cart">
                                    <span class="action-wrapper">
                                        <i class="icons icon-basket-2"></i>
                                        <span class="action-name">Add to cart</span>
                                    </span>
                                </span>
                                <span class="add-to-favorites">
                                    <span class="action-wrapper">
                                        <i class="icons icon-heart-empty"></i>
                                        <span class="action-name">Add to wishlist</span>
                                    </span>
                                </span>
                                <span class="add-to-compare">
                                    <span class="action-wrapper">
                                        <i class="icons icon-docs"></i>
                                        <span class="action-name">Add to Compare</span>
                                    </span>
                                </span>
                            </div>*@

                        </div>
                        <!-- /Carousel Item -->
                    </div>
                    <!-- /Slide -->
                    <!-- Slide -->
                    <div>
                        <!-- Carousel Item -->
                        <div class="product">

                            <div class="product-image">
                                <img src="@Url.Content("~/Content/")img/products/sample7.jpg" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
                                    <i class="icons icon-eye-1"></i> Quick View
                                </a>
                            </div>

                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                @*<div class="rating readonly-rating" data-score="4"></div>*@
                            </div>

                            @*<div class="product-actions">
                                <span class="add-to-cart">
                                    <span class="action-wrapper">
                                        <i class="icons icon-basket-2"></i>
                                        <span class="action-name">Add to cart</span>
                                    </span>
                                </span>
                                <span class="add-to-favorites">
                                    <span class="action-wrapper">
                                        <i class="icons icon-heart-empty"></i>
                                        <span class="action-name">Add to wishlist</span>
                                    </span>
                                </span>
                                <span class="add-to-compare">
                                    <span class="action-wrapper">
                                        <i class="icons icon-docs"></i>
                                        <span class="action-name">Add to Compare</span>
                                    </span>
                                </span>
                            </div>*@

                        </div>
                        <!-- /Carousel Item -->
                    </div>
                    <!-- /Slide -->
                    <!-- Slide -->
                    <div>
                        <!-- Carousel Item -->
                        <div class="product">

                            <div class="product-image">
                                <img src="@Url.Content("~/Content/")img/products/sample8.jpg" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
                                    <i class="icons icon-eye-1"></i> Quick View
                                </a>
                            </div>

                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                @*<div class="rating readonly-rating" data-score="4"></div>*@
                            </div>

                            @*<div class="product-actions">
                                <span class="add-to-cart">
                                    <span class="action-wrapper">
                                        <i class="icons icon-basket-2"></i>
                                        <span class="action-name">Add to cart</span>
                                    </span>
                                </span>
                                <span class="add-to-favorites">
                                    <span class="action-wrapper">
                                        <i class="icons icon-heart-empty"></i>
                                        <span class="action-name">Add to wishlist</span>
                                    </span>
                                </span>
                                <span class="add-to-compare">
                                    <span class="action-wrapper">
                                        <i class="icons icon-docs"></i>
                                        <span class="action-name">Add to Compare</span>
                                    </span>
                                </span>
                            </div>*@

                        </div>
                        <!-- /Carousel Item -->
                    </div>
                    <!-- /Slide -->
                    <!-- Slide -->
                    <div>
                        <!-- Carousel Item -->
                        <div class="product">

                            <div class="product-image">
                                <img src="@Url.Content("~/Content/")img/products/sample9.jpg" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
                                    <i class="icons icon-eye-1"></i> Quick View
                                </a>
                            </div>

                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                @*<div class="rating readonly-rating" data-score="4"></div>*@
                            </div>

                            @*<div class="product-actions">
                                <span class="add-to-cart">
                                    <span class="action-wrapper">
                                        <i class="icons icon-basket-2"></i>
                                        <span class="action-name">Add to cart</span>
                                    </span>
                                </span>
                                <span class="add-to-favorites">
                                    <span class="action-wrapper">
                                        <i class="icons icon-heart-empty"></i>
                                        <span class="action-name">Add to wishlist</span>
                                    </span>
                                </span>
                                <span class="add-to-compare">
                                    <span class="action-wrapper">
                                        <i class="icons icon-docs"></i>
                                        <span class="action-name">Add to Compare</span>
                                    </span>
                                </span>
                            </div>*@

                        </div>
                        <!-- /Carousel Item -->
                    </div>
                    <!-- /Slide -->


                </div>
            </div>
            <!-- /Carousel -->

        </div>
        <!-- /Random Products -->
        <!-- Product Brands -->
        <div class="products-row row">

            <!-- Carousel Heading -->
            <div class="col-lg-12 col-md-12 col-sm-12">

                <div class="carousel-heading">
                    <h4>Recomendamos</h4>
                    <div class="carousel-arrows">
                        <i class="icons icon-left-dir"></i>
                        <i class="icons icon-right-dir"></i>
                    </div>
                </div>

            </div>
            <!-- /Carousel Heading -->
            <!-- Carousel -->
            <div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">

                <div class="owl-carousel" data-max-items="6">

                    <!-- Slide -->
                    <div>
                        <div class="product">
                            <a href="#"><img src="@Url.Content("~/Content/")img/brands/sample.jpg" alt="Brand1"></a>
                        </div>
                    </div>
                    <!-- /Slide -->
                    <!-- Slide -->
                    <div>
                        <div class="product">
                            <a href="#"><img src="@Url.Content("~/Content/")img/brands/sample.jpg" alt="Brand1"></a>
                        </div>
                    </div>
                    <!-- /Slide -->
                    <!-- Slide -->
                    <div>
                        <div class="product">
                            <a href="#"><img src="@Url.Content("~/Content/")img/brands/sample.jpg" alt="Brand1"></a>
                        </div>
                    </div>
                    <!-- /Slide -->
                    <!-- Slide -->
                    <div>
                        <div class="product">
                            <a href="#"><img src="@Url.Content("~/Content/")img/brands/sample.jpg" alt="Brand1"></a>
                        </div>
                    </div>
                    <!-- /Slide -->
                    <!-- Slide -->
                    <div>
                        <div class="product">
                            <a href="#"><img src="@Url.Content("~/Content/")img/brands/sample.jpg" alt="Brand1"></a>
                        </div>
                    </div>
                    <!-- /Slide -->
                    <!-- Slide -->
                    <div>
                        <div class="product">
                            <a href="#"><img src="@Url.Content("~/Content/")img/brands/sample.jpg" alt="Brand1"></a>
                        </div>
                    </div>
                    <!-- /Slide -->
                    <!-- Slide -->
                    <div>
                        <div class="product">
                            <a href="#"><img src="@Url.Content("~/Content/")img/brands/sample.jpg" alt="Brand1"></a>
                        </div>
                    </div>
                    <!-- /Slide -->
                    <!-- Slide -->
                    <div>
                        <div class="product">
                            <a href="#"><img src="@Url.Content("~/Content/")img/brands/sample.jpg" alt="Brand1"></a>
                        </div>
                    </div>
                    <!-- /Slide -->
                    <!-- Slide -->
                    <div>
                        <div class="product">
                            <a href="#"><img src="@Url.Content("~/Content/")img/brands/sample.jpg" alt="Brand1"></a>
                        </div>
                    </div>
                    <!-- /Slide -->
                    <!-- Slide -->
                    <div>
                        <div class="product">
                            <a href="#"><img src="@Url.Content("~/Content/")img/brands/sample.jpg" alt="Brand1"></a>
                        </div>
                    </div>
                    <!-- /Slide -->

                </div>

            </div>
            <!-- /Carousel -->

        </div>
        <!-- /Product Brands -->


    </section>
    <!-- /Main Content -->


</div>
<!-- /Content -->