<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />


    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,900,700italic,500italic' rel='stylesheet' type='text/css'>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/")css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/")css/perfect-scrollbar.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/")css/style.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/")css/flexslider.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/")css/fontello.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/")css/animation.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/")css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/")css/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/")css/chosen.css">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <link rel="stylesheet" href="css/ie.css">
    <![endif]-->
    <!--[if IE 7]>
        <link rel="stylesheet" href="css/fontello-ie7.css">
    <![endif]-->
    
</head>
<body>

    <!-- Container -->
    <div class="container">

        <!-- Header -->
        <header class="row">

            <div class="col-lg-12 col-md-12 col-sm-12">

                <!-- Top Header -->
                <div id="top-header" class="style2">

                    <div class="row">

                        @*<nav id="top-navigation" class="col-lg-12 col-md-12 col-sm-12">
                                <ul class="pull-right">
                                    <li><a href="create_an_account.html">My Account</a></li>
                                    <li><a href="orders_list.html">List Order</a></li>
                                    <li><a href="order_info.html">Checkout</a></li>
                                    <li><a href="text_page.html">About Us</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>*@

                    </div>

                </div>
                <!-- /Top Header -->
                <!-- Main Header -->
                <div id="main-header" class="style2">

                    <div class="row">

                        <div id="logo" class="col-lg-4 col-md-4 col-sm-4">
                            <a href="home_v1.html"><img src="@Url.Content("~/Content/")img/logo.png" alt="Logo"></a>
                        </div>

                        @*<nav id="middle-navigation" class="col-lg-8 col-md-8 col-sm-8">
                                <ul class="pull-right">
                                    <li class="blue">
                                        <a href="compare_products.html"><i class="icons icon-docs"></i>0 Items</a>
                                    </li>
                                    <li class="red">
                                        <a href="wishlist.html"><i class="icons icon-heart-empty"></i>2 Items</a>
                                    </li>
                                    <li class="orange">
                                        <a href="order_info.html"><i class="icons icon-basket-2"></i>17 Items</a>
                                        <ul id="cart-dropdown" class="box-dropdown parent-arrow">
                                            <li>
                                                <div class="box-wrapper parent-border">
                                                    <p>Recently added item(s)</p>

                                                    <table class="cart-table">
                                                        <tr>
                                                            <td><img src="@Url.Content("~/Content/")img/products/sample1.jpg" alt="product"></td>
                                                            <td>
                                                                <h6>Lorem ipsum dolor</h6>
                                                                <p>Product code PSBJ3</p>
                                                            </td>
                                                            <td>
                                                                <span class="quantity"><span class="light">1 x</span> $79.00</span>
                                                                <a href="#" class="parent-color">Remove</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><img src="@Url.Content("~/Content/")img/products/sample1.jpg" alt="product"></td>
                                                            <td>
                                                                <h6>Lorem ipsum dolor</h6>
                                                                <p>Product code PSBJ3</p>
                                                            </td>
                                                            <td>
                                                                <span class="quantity"><span class="light">1 x</span> $79.00</span>
                                                                <a href="#" class="parent-color">Remove</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><img src="@Url.Content("~/Content/")img/products/sample1.jpg" alt="product"></td>
                                                            <td>
                                                                <h6>Lorem ipsum dolor</h6>
                                                                <p>Product code PSBJ3</p>
                                                            </td>
                                                            <td>
                                                                <span class="quantity"><span class="light">1 x</span> $79.00</span>
                                                                <a href="#" class="parent-color">Remove</a>
                                                            </td>
                                                        </tr>
                                                    </table>

                                                    <br class="clearfix">
                                                </div>

                                                <div class="footer">
                                                    <table class="checkout-table pull-right">
                                                        <tr>
                                                            <td class="align-right">Tax:</td>
                                                            <td>$0.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="align-right">Discount:</td>
                                                            <td>$37.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="align-right"><strong>Total:</strong></td>
                                                            <td><strong class="parent-color">$999.00</strong></td>
                                                        </tr>
                                                    </table>
                                                </div>

                                                <div class="box-wrapper no-border">
                                                    <a class="button pull-right parent-background" href="#">Checkout</a>
                                                    <a class="button pull-right" href="order_info.html">View Cart</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="login-create purple">
                                        <i class="icons icon-user"></i>
                                        <p>Hello Guest! <a href="#">Login</a> or<br><a href="#">Create Account</a></p>
                                        <ul id="login-dropdown" class="box-dropdown">
                                            <li>
                                                <div class="box-wrapper">
                                                    <h4>LOGIN</h4>
                                                    <div class="iconic-input">
                                                        <input type="text" placeholder="Username">
                                                        <i class="icons icon-user-3"></i>
                                                    </div>
                                                    <div class="iconic-input">
                                                        <input type="text" placeholder="Password">
                                                        <i class="icons icon-lock"></i>
                                                    </div>
                                                    <input type="checkbox" id="loginremember"> <label for="loginremember">Remember me</label>
                                                    <br>
                                                    <br>
                                                    <div class="pull-left">
                                                        <input type="submit" class="orange" value="Login">
                                                    </div>
                                                    <div class="pull-right">
                                                        <a href="#">Forgot your password?</a>
                                                        <br>
                                                        <a href="#">Forgot your username?</a>
                                                        <br>
                                                    </div>
                                                    <br class="clearfix">
                                                </div>
                                                <div class="footer">
                                                    <h4 class="pull-left">NEW CUSTOMER?</h4>
                                                    <a class="button pull-right" href="create_an_account.html">Create an account</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>*@

                    </div>

                </div>
                <!-- /Main Header -->
                <!-- Main Navigation -->
                <nav id="main-navigation" class="style2">
                    <ul>

                        <li class="home-green current-item">
                            <a href="home_v1.html">
                                <span class="nav-caption">Inicio</span>
                                <span class="nav-description">Disfruta de las Ofertas</span>
                            </a>

                            <ul class="normal-dropdown normalAnimation">
                                <li>
                                    <a href="#">Layouts <i class="icons icon-right-dir"></i></a>
                                    <ul class="normalAnimation">
                                        <li><a href="home_v1.html">Layout 1</a></li>
                                        <li><a href="home_v2.html">Layout 2</a></li>
                                        <li><a href="home_v3.html">Layout 3</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Headers <i class="icons icon-right-dir"></i></a>
                                    <ul class="normalAnimation">
                                        <li><a href="home_v1.html">Header 1</a></li>
                                        <li><a href="home_v2.html">Header 2</a></li>
                                        <li><a href="home_v3.html">Header 3</a></li>
                                        <li><a href="category_v1.html">Header 4</a></li>
                                        <li><a href="category_v2.html">Header 5</a></li>
                                        <li><a href="products_page_v1.html">Header 6</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Footers <i class="icons icon-right-dir"></i></a>
                                    <ul class="normalAnimation">
                                        <li><a href="home_v1.html#footer">Footer 1</a></li>
                                        <li><a href="home_v2.html#footer">Footer 2</a></li>
                                        <li><a href="home_v3.html#footer">Footer 3</a></li>
                                        <li><a href="category_v1.html#footer">Footer 4</a></li>
                                        <li><a href="category_v2.htm#footer">Footer 5</a></li>
                                        <li><a href="products_page_v1.html#footer">Footer 6</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Sliders <i class="icons icon-right-dir"></i></a>
                                    <ul class="normalAnimation">
                                        <li><a href="home_v1.html">Revolution Slider</a></li>
                                        <li><a href="home_v2.html">IOS Slider</a></li>
                                        <li><a href="home_v3.html">Flex Slider</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="red">
                            <a href="#">
                                <span class="nav-caption">Electrónica</span>
                                <span class="nav-description">Audio, Video, Fotografía, Juegos... </span>
                            </a>

                            <ul class="wide-dropdown normalAniamtion">
                                <li>
                                    <ul>
                                        <li><span class="nav-caption">Digital Cameras</span></li>
                                        <li><a href="#"><i class="icons icon-right-dir"></i> Digital SLR</a></li>
                                        <li><a href="#"><i class="icons icon-right-dir"></i> Point &amp; Shoot</a></li>
                                        <li><a href="#"><i class="icons icon-right-dir"></i> Spy, Miniature</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><span class="nav-caption">Digital Cameras</span></li>
                                        <li><a href="#"><i class="icons icon-right-dir"></i> Background Material</a></li>
                                        <li><a href="#"><i class="icons icon-right-dir"></i> Continuous Lighting</a></li>
                                        <li><a href="#"><i class="icons icon-right-dir"></i> Flash Lighting</a></li>
                                        <li><a href="#"><i class="icons icon-right-dir"></i> Light Meters</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><span class="nav-caption">Digital Cameras</span></li>
                                        <li><a href="#"><i class="icons icon-right-dir"></i> Batteries</a></li>
                                        <li><a href="#"><i class="icons icon-right-dir"></i> Cables &amp; Adapters</a></li>
                                        <li><a href="#"><i class="icons icon-right-dir"></i> Camcorder Tapes &amp; Discs</a></li>
                                        <li><a href="#"><i class="icons icon-right-dir"></i> Cases, Bags &amp; Covers</a></li>
                                    </ul>
                                </li>
                            </ul>

                        </li>

                        <li class="blue">
                            <a href="category_v2.html">
                                <span class="nav-caption">Informática</span>
                                <span class="nav-description">Tablets, Computadores, Accesorios</span>
                            </a>
                        </li>

                        <li class="orange">
                            <a href="category_v1.html">
                                <span class="nav-caption">Moda</span>
                                <span class="nav-description">Vestuarios Hombre & Mujer</span>
                            </a>
                        </li>

                        <li class="green">
                            <a href="blog.html">
                                <span class="nav-caption">Deportes</span>
                                <span class="nav-description">Ropa y Equipamiento</span>
                            </a>
                        </li>

                        <li class="yellow">
                            <a href="contact.html">
                                <span class="nav-caption">Muebles</span>
                                <span class="nav-description">Hogar</span>
                            </a>
                        </li>

                        <li class="purple">
                            <a href="contact.html">
                                <span class="nav-caption">Contacto</span>
                                <span class="nav-description">Consultas</span>
                            </a>
                        </li>

                    </ul>

                    <div id="search-bar">

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <table id="search-bar-table">
                                <tr>
                                    <td class="search-column-1">
                                        <p><span class="grey">Popular Searches:</span> <a href="#">accessories</a>, <a href="#">audio</a>, <a href="#">camera</a>, <a href="#">phone</a>, <a href="#">storage</a>, <a href="#">more</a></p>
                                        <input type="text" placeholder="Enter your keyword">
                                    </td>
                                    <td class="search-column-2">
                                        <p class="align-right"><a href="#">Advanced Search</a></p>
                                        <select class="chosen-select-search">
                                            <option>All Categories</option>
                                            <option>All Categories</option>
                                            <option>All Categories</option>
                                            <option>All Categories</option>
                                            <option>All Categories</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="search-button">
                            <input type="submit" value="">
                            <i class="icons icon-search-1"></i>
                        </div>
                    </div>

                </nav>
                <!-- /Main Navigation -->

            </div>

        </header>

        <!-- /Header -->
        @RenderBody()

        <!-- Footer -->
        <footer id="footer" class="row">

            <!-- Main Footer -->
            <div class="col-lg-12 col-md-12 col-sm-12">

                <div id="main-footer">

                    <div class="row">

                        <!-- The Service -->
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <h4>Info</h4>
                            <p>
                                Estamos en etapa de prueba, para consultar o comprar algún producto, envía el código por cualquier de nuestras redes sociales y/o correo electrónico, te contactaremos inmediatamente.
                                <br><br>
                                Disculpa las molestias y espero que encuentres lo que buscas :)
                            </p>
                        </div>
                        <!-- /The Service -->
                        <!-- Information -->
                        <div class="col-lg-2 col-md-3 col-sm-6">
                            
                            @*<ul>
                                    <li><a href="#"><i class="icons icon-right-dir"></i> About Us</a></li>
                                    <li><a href="#"><i class="icons icon-right-dir"></i> New Collection</a></li>
                                    <li><a href="#"><i class="icons icon-right-dir"></i> Bestsellers</a></li>
                                    <li><a href="#"><i class="icons icon-right-dir"></i> Manufacturers</a></li>
                                    <li><a href="#"><i class="icons icon-right-dir"></i> Privacy Policy</a></li>
                                    <li><a href="#"><i class="icons icon-right-dir"></i> Terms &amp; Conditions</a></li>
                                </ul>*@
                        </div>
                        <!-- /Information -->
                        <!-- Like us on Twitter -->
                        <div class="col-lg-4 col-md-4 col-sm-6 twitter-widget">
                            <h4>Desde Twitter</h4>
                            <div id="twitter-widget">

                            </div>
                            <a href="#" class="button blue small">Síguenos</a>
                        </div>
                        <!-- /Like us on Twitter -->
                        <!-- Contact Us -->
                        <div class="col-lg-3 col-md-3 col-sm-6 contact-footer-info">
                            <h4>Contacto</h4>
                            <ul>
                                <li><i class="icons icon-location"></i> Santiago, Puente Alto.</li>
                                <li><i class="icons icon-phone-3"></i> +569 88190847</li>
                                <li><i class="icons icon-mail-alt"></i><a href="mailto:mail@company.com"> tienda@gmail.com</a></li>
                                <li><i class="icons icon-facebook-7"></i> tienda</li>
                                <li><i class="icons icon-instagram"></i> tienda</li>
                            </ul>
                        </div>
                        <!-- /Contact Us -->

                    </div>

                </div>

            </div>
            <!-- /Main Footer -->
            <!-- Upper Footer -->
          
            <!-- /Upper Footer -->
            <!-- Lower Footer -->
            <div class="col-lg-12 col-md-12 col-sm-12">

                <div id="lower-footer">

                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p class="copyright">Copyright 2016 <a href="#">Tienda</a>. All Rights Reserved.</p>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <ul class="payment-list">
                                <li class="payment1"></li>
                                <li class="payment2"></li>
                                <li class="payment3"></li>
                                <li class="payment4"></li>
                                <li class="payment5"></li>
                            </ul>
                        </div>

                    </div>

                </div>

            </div>
            <!-- /Lower Footer -->

        </footer>
        <!-- Footer -->


        <div id="back-to-top">
            <i class="icon-up-dir"></i>
        </div>

    </div>
    <!-- Container -->
    <!-- JavaScript -->
    <script type="text/javascript" src="@Url.Content("~/Content/")js/modernizr.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/")js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/")js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/")js/jquery.raty.min.js"></script>

    <!-- Scroll Bar -->
    <script type="text/javascript" src="@Url.Content("~/Content/")js/perfect-scrollbar.min.js"></script>

    <!-- Cloud Zoom -->
    <script type="text/javascript" src="@Url.Content("~/Content/")js/zoomsl-3.0.min.js"></script>

    <!-- FancyBox -->
    <script type="text/javascript" src="@Url.Content("~/Content/")js/jquery.fancybox.pack.js"></script>

    <!-- jQuery REVOLUTION Slider  -->
    <script type="text/javascript" src="@Url.Content("~/Content/")js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/")js/jquery.themepunch.revolution.min.js"></script>

    <!-- FlexSlider -->
    <script type="text/javascript" src="@Url.Content("~/Content/")js/flexslider.min.js"></script>

    <!-- IOS Slider -->
    <script type="text/javascript" src="@Url.Content("~/Content/")js/jquery.iosslider.min.js"></script>

    <!-- noUi Slider -->
    <script type="text/javascript" src="@Url.Content("~/Content/")js/jquery.nouislider.min.js"></script>

    <!-- Owl Carousel -->
    <script type="text/javascript" src="@Url.Content("~/Content/")js/owl.carousel.min.js"></script>

    <!-- Cloud Zoom -->
    <script type="text/javascript" src="@Url.Content("~/Content/")js/zoomsl-3.0.min.js"></script>

    <!-- SelectJS -->
    <script type="text/javascript" src="@Url.Content("~/Content/")js/chosen.jquery.min.js"></script>

    <!-- Main JS -->
    <script type="text/javascript" src="@Url.Content("~/Content/")js/bootstrap.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/")js/main-script.js"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/")js/tinynav.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/")twitter/jquery.tweet.js"> </script>



</body>

</html>